.content-item-div {
  position: relative;
  cursor: pointer;
}

.content-item-div::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.content-item-div:hover::after {
  opacity: 0;
}

@media (max-width:768px) {

  .content-item-div>h1,
  button {
    z-index: 3;
  }
}